.container-quantity {
    padding-top: 40px;
    width: auto;
}

.container-prod-tabs {
    width: auto;
    margin-left: 10px;
}

.container-photo {
    width: auto;
    margin-left: -200px;
}

.photo_area{
    width: auto;
    height: auto;
}