<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet"  href="../static/css/tabs-left.css"/>
    <link rel="stylesheet"  href="../static/css/footer.css"/>
    <link rel="stylesheet"  href="../static/css/category.css"/>
    <link rel="stylesheet"  href="../static/css/img.css"/>
    <link rel="stylesheet"  href="../static/css/product.css">

    <script src="../static/js/addelement.js"></script>
    <script src="../static/js/product.js"></script>

    <script th:inline="javascript">
        var user= [[${client.clientAutor.login}]];
    </script>

    <script th:inline="javascript">
        var product= [[${product}]];
    </script>

    <script th:inline="javascript" async>
        var basket= [[${basket}]];
    </script>

    <script th:inline="javascript" async>
        var categoryList= [[${categoryList}]];
    </script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="glyphicon glyphicon-shopping-cart dropdown-toggle" data-toggle="dropdown" href="#" th:text="Cart"><span class="caret"></span> Cart </a>
                        <ul id = "dropdown-menu-basket" class="dropdown-menu">
                            <script type="text/javascript">
                                $(function(){
                                    addDropdownBasket(basket);
                                });
                            </script>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="'Hello,' +${client.clientAutor.login}"> <span class="caret"></span></a>
                        <ul id="dropdown-menu" class="dropdown-menu">
                            <script type="text/javascript">
                                $(function(){
                                    addDropdownMenu(user);
                                });
                            </script>
                            <p th:text="${client.basket.totalPrice}"></p>
                        </ul>

                    </li>
                    <!--<li><a href="registration.html#toregistration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="registration.html#tologin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                </ul>
            </div>
        </div>
    </div>

</nav>


<div class="container-fluid">
    <div class="col-sub col-sm-2">
        <div class="container">
            <div class="category">
                <div  class="col-sm-6">
                    <h4>Category</h4>
                    <div class="col-xs-3">
                        <div class="nav nav-tabs tabs-left" id="category">
                            <script type="text/javascript">
                                $(function(){
                                    addCategory(categoryList);
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-xs-23" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
                <div class="col-sm-12" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner" id="prod-photo-large">
                            <script type="text/javascript">
                                $(function(){
                                    addLargeProgPhoto(product, 3);
                                });
                            </script>
                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-main col-sm-4">
        <div id="addBasket" class="form">
            <!-- <form action="#" th:action="@{/buy}" th:object="${client}" method="post" name="basket">-->
            <div class="contdiv">
                <div class="prod-name-price" id="prod-name-price">
                    <div class="prod-name">
                        <h1 id="prod-name"> </h1>
                    </div>
                    <div class="prod-cat" id="prod-cat">
                    </div>
                    <div class="prod-price">
                            <span id="lablePrice">
                                Price:
                            </span>
                        <span id="prod-price">
                            </span>
                    </div>
                    <div class="prod-total-price">
                            <span id="labelTotalPrice">
                                Total price:
                            </span>
                        <span id="prod-total-price">
                            </span>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            addProductNamePrice(product);
                        });
                    </script>
                </div>

            </div>
            <!--</form>-->
            <div class="container-quantity">
                <dl>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="number-spinner ">
                                <div class="input-group ">
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                        </span>
                                    <span><input id="numspin" type="text" class="form-control text-center" value="1"> </span>
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </dl>
                <!--<button type="button" class="btn btn-success">Buy Now</button>-->
                <form action="#" th:action="@{/buy}" th:object="${productmes}"  method="post">
                    <input type="hidden" id="url" th:field="*{url}" value="">
                    <input type="hidden" id="number" th:field="*{number}" value="">
                    <script type="text/javascript">
                        $(function(){
                            addProdBasket(product);
                        });
                    </script>
                    <button type="submit" class="btn btn-warning">Add to Cart</button>
                </form>


            </div>
        </div>

    </div>



</div>

<div class="container-prod-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#product-detail">Product Details</a></li>
    </ul>

    <div class="tab-content">
        <div id="product-detail" class="tab-pane fade in active">
            <script type="text/javascript">
                $(function(){
                    addProductDetails(product);
                });
            </script>
        </div>
    </div>
</div>

<div class="empty"></div>
<div class="footer">
    <p>Footer</p>
</div>


</body>

</html>


